<a href="https://colab.research.google.com/github/XingxinHE/Python-for-Data-Analysis-Notes/blob/master/11_2_Time_Series_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
from datetime import datetime

常见的是把timeseries当作 index

In [5]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
     datetime(2011, 1, 7), datetime(2011, 1, 8),
     datetime(2011, 1, 10), datetime(2011, 1, 12)]
     
ts = pd.Series(np.random.randn(6), index=dates)

In [6]:
ts

2011-01-02    0.075835
2011-01-05   -0.876767
2011-01-07    0.173009
2011-01-08   -1.291451
2011-01-10    0.855533
2011-01-12   -0.291491
dtype: float64

In [7]:
#这个index的dtype是datetime
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

## Indexing, Selection, Subsetting

In [8]:
#indexing

stamp = ts.index[2]
ts[stamp]

0.1730089086710095

In [9]:
#也可以hard code时间index
ts['1/10/2011']

0.8555327040272394

In [10]:
ts['20110110']

0.8555327040272394

In [11]:
#如果时间过长无法hard code，可以像grasshopper那样设置steps

longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [12]:
#返回一个以2000年1月1日，长度为（1000日）的series
longer_ts

2000-01-01   -0.465618
2000-01-02   -1.131569
2000-01-03   -1.030114
2000-01-04    0.712728
2000-01-05    1.569663
                ...
2002-09-22    0.348356
2002-09-23   -1.197852
2002-09-24    0.684746
2002-09-25    0.660586
2002-09-26    0.130771
Freq: D, Length: 1000, dtype: float64

In [13]:
#只选择年份
longer_ts['2001']

2001-01-01   -0.223121
2001-01-02    1.065874
2001-01-03   -1.754046
2001-01-04   -0.453799
2001-01-05    0.315648
                ...
2001-12-27   -1.043290
2001-12-28    1.452359
2001-12-29    1.704222
2001-12-30   -0.795035
2001-12-31    0.121978
Freq: D, Length: 365, dtype: float64

In [14]:
#只选择年和月
longer_ts['2000-10']

2000-10-01   -0.818203
2000-10-02    1.129853
2000-10-03   -1.306277
2000-10-04    0.403421
2000-10-05    1.149676
2000-10-06    0.127554
2000-10-07    0.243105
2000-10-08    0.114320
2000-10-09   -0.782293
2000-10-10   -0.735885
2000-10-11   -0.337925
2000-10-12   -0.612564
2000-10-13   -1.566753
2000-10-14    0.913830
2000-10-15   -0.764734
2000-10-16    0.890383
2000-10-17   -0.056788
2000-10-18   -0.319132
2000-10-19   -1.313733
2000-10-20   -0.504805
2000-10-21   -1.600279
2000-10-22    0.183345
2000-10-23    0.244260
2000-10-24   -0.989368
2000-10-25    0.643513
2000-10-26    1.271935
2000-10-27    0.428691
2000-10-28   -1.795836
2000-10-29   -0.445179
2000-10-30    1.303866
2000-10-31    0.275191
Freq: D, dtype: float64

In [18]:
#用datetime object 来 slicing!!!
longer_ts[datetime(2002, 9, 20) :]  #注意这里的冒号,以及月份这里是integer，所以一定要是9，不可以是09

2002-09-20   -1.738744
2002-09-21    1.909664
2002-09-22    0.348356
2002-09-23   -1.197852
2002-09-24    0.684746
2002-09-25    0.660586
2002-09-26    0.130771
Freq: D, dtype: float64

In [19]:
#因为timeseries data一般都是按照时间顺序组织的（chronological）
#所以，不加datetime也可以slice
longer_ts['10/25/2001' : '10/28/2001']

2001-10-25   -0.210363
2001-10-26    1.146507
2001-10-27    0.113975
2001-10-28    0.702380
Freq: D, dtype: float64

.truncate()

In [22]:
ts.truncate(after='1/9/2011')
#这个after感觉用得不好，为何？因为这里是slicing冒号的后面，所以after在这里的意思是在这个东西前面，
#而after在英文是在这个之后，很容易搞混

2011-01-02    0.075835
2011-01-05   -0.876767
2011-01-07    0.173009
2011-01-08   -1.291451
dtype: float64

In [23]:
ts.truncate(before='1/9/2011') #有点不好

2011-01-10    0.855533
2011-01-12   -0.291491
dtype: float64

Time stamp同样也适用于DF

In [24]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED') #这个frequency相当于GH的series里面的step
long_df = pd.DataFrame(np.random.randn(100, 4),
            index=dates,
            columns=['Colorado', 'Texas', 'New York', 'Ohio'])

long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -1.167895 -0.640728 -0.302781 -0.913278
2000-01-12  1.476228 -1.179703  0.862276 -0.388609
2000-01-19  0.170639 -1.706497  1.375343 -0.860450
2000-01-26  1.382994  1.021596  0.698121  1.594299
2000-02-02  0.580349  1.355137  1.997048  0.864194
...              ...       ...       ...       ...
2001-10-31 -0.166565 -0.913227 -1.862734 -0.822464
2001-11-07  0.950012  0.504757  0.114057 -0.812003
2001-11-14 -1.145045  0.258283  0.512367 -0.379550
2001-11-21  0.802852  0.134070 -0.638005 -0.531726
2001-11-28  0.266227 -0.461968  0.547785 -0.639577

[100 rows x 4 columns]

In [27]:
#截取2000年10月份
long_df.loc['2000-10']

            Colorado     Texas  New York      Ohio
2000-10-04 -0.432810 -0.359698  1.199161  0.229404
2000-10-11  0.823652  0.044491  0.689854  0.619074
2000-10-18  0.300646  0.905181  1.585293 -0.813026
2000-10-25 -0.508728 -0.008098 -0.864829  2.064775

## Time Series with Duplicate Indices

时间序列也可以有duplicate的index

In [28]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [29]:
#查看time index是不是unique的
dup_ts.index.is_unique

False

In [30]:
dup_ts['2000/1/3'] #unique的，所以返回一个数值

4

In [31]:
dup_ts['2000/1/2'] #duplicate的，返回仨

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [32]:
#因为index有duplicate，那么可以用它来group
grouped = dup_ts.groupby(level=0)

In [33]:
#看mean
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [34]:
#看个数
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64